<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Working Name</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body class="fullscreen" style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
    <div id="vue-app" class="container">
      <button id="start-classroom" class='start-button right-padding25' type="button"><i class="fa fa-home fa-5x"></i></button>
      <button id="start-exercise" class='start-button' type="button" disabled><i class="fa fa-book fa-5x"></i></button>

    <script>
      var startClassroom = document.getElementById('start-classroom')
      startClassroom.addEventListener('click', ()=>{
        window.location.href = '/level/1'
      })
    </script>
  </body>

</html>
