<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Working Name</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body class="fullscreen">
    <div id="vue-app" class="container">
      <button id="start-classroom" class='start-button' type="button" v-on:click="startClassroom">Start Classroom</button>
      <button id="start-exercise" class='start-button' type="button" disabled>Start Exercise</button>
    </div>
  </body>

</html>
