<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Working Name</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/vue_index.js"></script>
  </head>

  <body>
    <div id="vue-app">
      <div>Working Name</div>
      <button>Button</button>
    </div>
  </body>

</html>
