<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Working Name</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="/lib/vue.min.js"></script>
    <script src="/lib/axios.min.js"></script>
  </head>

  <body class="fullscreen">
    <div id="vue-app" class="container">
      <div id="correct-icon" style="display:none">Correct</div>
      <div id="wrong-icon" style="display:none">Wrong</div>
      <div>
        <button v-on:click="sayLetter">Speaker symbol here</button>
      </div>
      <div>
        <button class="btn btn-primary btn-lg buttonSpace" v-for="choice in choices" v-on:click="verifyChoice(choice)">{{ choice }}</button>
      </div>
    </div>

    <script src="/js/vue_level_two.js"></script>
  </body>

</html>
