body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  background-size: contain;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.buttonSpace{
   height = 80px;
   width = 80px;
   margin-top: 50px;
   margin-right: 5px;
   border-radius: 12px;
}

.margin-bottom{
  margin-top: 30px;
}

.right-padding50{
  margin-right: 100px;
}

.addborder{
   padding: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid;
}

.addborder{
   padding: 20px;
   margin-bottom: 10px;
   border-bottom: 1px solid;
}
